.hidebutton{
    marginLeft:0;
    marginTop:5px;
    height:25px;
    width:100%;
    background:rgba(0,0,0,0.3);
    border:0px
}
.hidebutton:hover{
    background:rgba(0,0,0,0.5);
    border:0px
}
.hidebutton:focus{
    background:rgba(0,0,0,0.5);
    border:0px;
    outline: 0px;
    outline-color: rgba(0,0,0,0);
}
.hidebutton:active{
     background:rgba(0,0,0,0.3);
     border:0px;
     outline: 0px;
     outline-color: rgba(0,0,0,0);
 }
@-webkit-keyframes twinkling{	/*透明度由0到1*/
    0%{
        box-shadow:  0 0 5px rgba(0,0,0,.1) inset;
        opacity:0;
    }
    100%{
        box-shadow:  0 0 15px rgba(255,255,255,1) inset;
        opacity:1;				/*透明度为1*/
    }
}

.twinkling-LGRAY{
    -webkit-animation: twinkling 2800s infinite ease-in-out alternate;
}
.blingbling-LGRAY {
    -webkit-animation: flash 8800ms ease-out infinite alternate;
    -moz-animation: flash 8800ms ease-out infinite alternate;
    -o-animation: flash 8800ms ease-out infinite alternate;
    -ms-animation: flash 8800ms ease-out infinite alternate;
    /*这里使用了呼吸动画*/
    animation: flash 8800ms ease-out infinite alternate;
    font-weight:bold;}

.expand,.expand:before,.expand:after{
    font-stretch:ultra-expanded;
    color:rgba(255,255,255,1);
}

/*以下定义动画帧*/
@-webkit-keyframes glow-LGRAY {
    0% {
        box-shadow:  0 0 5px rgba(0,0,0,.1) inset;
    }
    50% {
        box-shadow:  0 0 10px rgba(0,0,0,.5) inset;
    }
    100% {
        box-shadow:   0 0 5px rgba(0,0,0,.1) inset;
    }
}

@-moz-keyframes glow-LGRAY {
    0% {
        box-shadow: 0 0 5px rgba(0,0,0,.1) inset;
    }
    50% {
        box-shadow:  0 0 10px rgba(0,0,0,.5) inset;
    }
    100% {
        box-shadow:   0 0 5px rgba(0,0,0,.1) inset;
    }
}

@-o-keyframes glow-LGRAY {
    0% {
        box-shadow:  0 0 5px rgba(0,0,0,.1) inset;
    }
    50% {
        box-shadow:   0 0 10px rgba(0,0,0,.5) inset;
    }
    100% {
        box-shadow:   0 0 5px rgba(0,0,0,.1) inset;
    }
}

@-ms-keyframes glow-LGRAY {
    0% {
        box-shadow:  0 0 5px rgba(0,0,0,.1) inset;
    }
    50% {
        box-shadow:   0 0 10px rgba(0,0,0,.5) inset;
    }
    100% {
        box-shadow:   0 0 5px rgba(0,0,0,.1) inset;
    }
}

@keyframes glow-LGRAY {
    0% {
        box-shadow:  0 0 5px rgba(0,0,0,.1) inset;
    }
    50% {
        box-shadow:   0 0 10px rgba(0,0,0,.5) inset;
    }
    100% {
        box-shadow:   0 0 5px rgba(0,0,0,.1) inset;
    }
}
